<script type='text/javascript' src='assets/axios/axios.min.js' charset='utf-8'></script>
<script type='text/javascript' src='assets/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='assets/sui/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='assets/swiper/js/swiper.min.js' charset='utf-8'></script>
<script type="text/javascript" src="assets/artTemplate/template-web.js"></script>
<script type='text/javascript' src='js/app.js' charset='utf-8'></script>
<script type='text/javascript' src='js/login.js' charset='utf-8'></script>